/* VARIABLES */
:root
{
    --yellow: #ffb734;
    --dark: #333;
}
/* DEFAULTS */
a
{
    padding: 1% 0%;
    background-color: var(--yellow);
    color: var(--dark);
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    margin-bottom: 2%;
}
/* BODY */
body
{
    background-image: linear-gradient(120deg, rgb(110, 52, 75, 0.985), rgba(71, 59, 133, 0.985)), url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    text-align: center;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
::-webkit-scrollbar 
{
    width: 0;
    background: transparent;
}
.margin
{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
/* NAVIGATION */
nav
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navMenu
{
    visibility: hidden;
    height: 0;
}
.navMenu a
{
    float: left;
    padding: 0.5% 2.5%;
    color: rgb(100, 100, 100);
    font-size: 1.5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navBar
{
    display: flex;
    flex-direction: row;
    padding: 1% 0%;
}
.navBar a
{
    float: left;
    width: 19%;
    margin-right: 1%;
}
/* TACOS */
.tacos
{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}
.tacos .box-1
{
    position: relative;
    margin-right: 1%;
    width: 75%;
    height: 50vw;
    background-image: url("assets/taco_wall.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.tacos .box-1 *
{
    position: absolute;
    padding: 0.5% 1.5%;
    width: max-content;
    font-size: 3vw;
    background-color: var(--yellow);
}
.tacos .box-1 h1
{
    top: 30%;
    left: 10%;
}
.tacos .box-1 h3
{
    top: 40%;
    left: 10%;
}
.tacos .box-2
{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 1%;
}
.tacos .box-2 div
{
    font-size: 2.5vw;
    text-align: center;
    background-color: var(--yellow);
}
.tacos .box-2 .div-1
{
    flex: 1;
    margin-bottom: 5%;
}
.tacos .box-2 .div-2
{
    flex: 1;
}
/* FEATURES */
.features
{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
}
.features h2
{
    font-size: 3vw;
}
.features .box-1
{
    display: flex;
    flex-direction: row;
}
.features .box-1 div
{
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: aliceblue;
}
.features .box-1 div *
{
    margin: 5%;
}
.features .box-2
{
    position: relative;
    background-color: aliceblue;
    margin-right: 1%;
}
.features .box-2 div
{
    margin: 0%;
    margin-top: 10%;
    margin-bottom: 15%;
}
.features .box-2 .queso
{
    width: 60%;
    height: auto;
}
.features .box-2 a
{
    position: absolute;
    padding: 1% 2%;
    bottom: 5%;
    left: 40%;
}
/* GRAMS */
.grams
{

}
.grams img
{
    margin: 1%;
    width: 30%;
    height: auto;
}
/* -700PX */
@media screen and (max-width:700px)
{
    .margin
    {
        margin: 15%;
    }
    /* NAVIGATION */
    .navMenu
    {
        visibility: visible;
        height: auto;
    }
    .navBar
    {
        display: unset;
    }
    .navBar a
    {
        width: 49%;
        margin-bottom: 1%;
        padding: 2% 0%;
        font-size: 2vw;
    }
    /* TACOS */
    .tacos
    {
        flex-direction: column;
    }
    .tacos .box-1
    {
        width: auto;
        margin-bottom: 1%;
    }
    .tacos .box-2 .div-1
    {
        margin-bottom: 1%;
    }
    .tacos .box-2
    {
        width: auto;
    }
    /* FEATURES */
    .features .box-1
    {
        flex-direction: column;
    }
    .features .box-2 div
    {
        margin: 20%;
    }
    .features .box-2 a
    {
        position: absolute;
        padding: 1% 2%;
        bottom: 5%;
        left: 40%;
    }
    /* GRAMS */
    .grams
    {
    }
    .grams img
    {
        width: 100%;
    }
}
/* -350PX */
@media screen and (max-width:350px)
{
    /* NAVIGATION */
    .navBar
    {
        display: flex;
        flex-direction: column;
    }
    .navBar a
    {
        margin-bottom: 1%;
        padding: 2% 0%;
        font-size: 3vw;
        width: auto;
    }
}