/* VARIABLES */
:root
{
    --yellow: #ffb734;
    --dark: #333;
}
/* DEFAULTS */
a
{
    padding: 1% 0%;
    background-color: var(--yellow);
    color: var(--dark);
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    margin-bottom: 2%;
}
/* BODY */
body
{
    background-image: linear-gradient(120deg, rgb(110, 52, 75, 0.985), rgba(71, 59, 133, 0.985)), url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    text-align: center;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
::-webkit-scrollbar 
{
    width: 0;
    background: transparent;
}
.margin
{
    display: flex;
    flex-direction: column;
    margin: 3%;
}
/* NAVIGATION */
nav
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navMenu
{
    visibility: hidden;
    height: 0;
}
.navMenu a
{
    float: left;
    padding: 0.5% 2.5%;
    color: rgb(100, 100, 100);
    font-size: 1.5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navBar
{
    display: flex;
    flex-direction: row;
    padding: 1% 0%;
}
.navBar a
{
    float: left;
    width: 19%;
    margin-right: 1%;
}
/* TACOS */
.tacos
{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}
.tacos .box-1
{
    position: relative;
    margin-right: 1%;
    width: 65%;
    height: 25vw;
    background-image: url("assets/taco_wall.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.tacos .box-1 *
{
    position: absolute;
    padding: 0.5% 1.5%;
    width: max-content;
    font-size: 3vw;
    background-color: var(--yellow);
}
.tacos .box-1 h1
{
    font-size: 2vw;
    top: 30%;
    left: 10%;
}
.tacos .box-1 h3
{
    font-size: 1vw;
    top: 45%;
    left: 10%;
}
.tacos .box-2
{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 1%;
}
.tacos .box-2 div
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    color: var(--dark);
    text-align: center;
    background-color: var(--yellow);
}
.tacos .box-2 div h1
{
    margin-bottom: -1%;
}
.tacos .box-2 div h2
{
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tacos .box-2 .div-1
{
    flex: 1;
    margin-bottom: 5%;
}
.tacos .box-2 .div-2
{
    flex: 1;
}
/* FEATURES */
.features
{
    display: flex;
    flex-direction: column;
    font-size: 0.7vw;
    color: var(--dark);
}
.features h3
{
    font-size: 4vw;
}
.features h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    color: rgb(82, 82, 82);
}
.features .box-1
{
    display: flex;
    flex-direction: row;
}
.features .box-1 div
{
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: aliceblue;
}
.features .box-1 div *
{
    margin: 2%;
}
.features .box-2
{
    position: relative;
    background-color: aliceblue;
    margin-right: 1%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.features .box-2 div
{
    margin-top: -3%;
    text-align: left;
}
.features .box-2 .queso
{
    margin: 3%;
    width: 25%;
    height: auto;
}
.features .box-2 a
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2% 4%;
    bottom: 5%;
    left: 40%;
}
/* GRAMS */
.grams
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grams .instant
{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
}
.grams h1
{
    margin-left: 2%;
    margin-right: 2%;
}
.grams .instant .left
{
    background-image: linear-gradient(90deg, rgb(110, 52, 75, 0.0), rgb(255, 196, 0));
    height: 0.5vw;
    width: 40%;
}
.grams .instant .right
{
    background-image: linear-gradient(90deg, rgb(255, 196, 0), rgb(110, 52, 75, 0.0));
    height: 0.5vw;
    width: 40%;
}
.grams img
{
    margin-bottom: 1%;
    margin-right: 1%;
    width: 15%;
    height: auto;
}
/* -700PX */
@media screen and (max-width:700px)
{
    .margin
    {
        margin: 15%;
    }
    /* NAVIGATION */
    .navMenu
    {
        visibility: visible;
        height: auto;
    }
    .navBar
    {
        display: unset;
    }
    .navBar a
    {
        width: 49%;
        margin-bottom: 1%;
        padding: 2% 0%;
        font-size: 2vw;
    }
    /* TACOS */
    .tacos
    {
        flex-direction: column;
    }
    .tacos .box-1
    {
        height: 40vw;
        width: auto;
        margin-bottom: 1%;
    }
    .tacos .box-1 h1
    {
        top: 30%;
    }
    .tacos .box-1 h3
    {
        top: 40%;
    }
    .tacos .box-2 .div-1
    {
        margin-bottom: 1%;
    }
    .tacos .box-2
    {
        width: auto;
    }
    /* FEATURES */
    .features .box-1
    {
        flex-direction: column;
    }
    .features .box-2
    {
        flex-direction: column;
    }
    .features .box-2 div
    {
        margin-bottom: 5%;
        text-align: center;
    }
    /* GRAMS */
    .grams img
    {
        width: 100%;
    }
}
/* -350PX */
@media screen and (max-width:350px)
{
    /* NAVIGATION */
    .navBar
    {
        display: flex;
        flex-direction: column;
    }
    .navBar a
    {
        margin-bottom: 1%;
        padding: 2% 0%;
        font-size: 3vw;
        width: auto;
    }
}